# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CMake on a single platform

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Update apt package list
      run: sudo apt-get update -y
    
    - name: Install dependencies
      run: sudo apt-get install gcc-13 llvm flex bison libfl-dev
    
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Compile ir
      run: | 
          cd ${{github.workspace}}/build
          ./sl ${{github.workspace}}/test/fib.sl fib.ll 

    - name: Compile elf
      run: |
          cd ${{github.workspace}}/build
          clang++ fib.ll ${{github.workspace}}/std/lib.cpp -o fib_app
          
    - name: Run app
      run: |
        chmod +x ${{github.workspace}}/build/fib_app
        ${{github.workspace}}/build/fib_app 7
        
